<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSEtoRserve.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SSEtoRserve.Properties.Settings>
            <setting name="grpcPort" serializeAs="String">
                <value>50051</value>
            </setting>
            <setting name="rserveHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="rservePort" serializeAs="String">
                <value>6311</value>
            </setting>
            <setting name="grpcHost" serializeAs="String">
                <value>localhost</value>   <!-- Set to 0.0.0.0 if you want it reachable from the outside world -->
            </setting>
            <setting name="certificateFolderFullPath" serializeAs="String">
              <value> </value>   <!-- Set to i.e. C:\sse_qliktest_server_certs if you want to enable mutual authentication (server and client auth) between this plugin and Qlik -->
            </setting>
            <setting name="rProcessPathToStart" serializeAs="String">
                <value></value>  <!-- Set to i.e. C:\Program Files\Microsoft\R Open\bin\x64\Rterm.exe if you want SSEtoRserve to start any R process as well -->
            </setting>
            <setting name="rProcessCommandLineArgs" serializeAs="String">
                <value> </value>  <!-- Set command line arguments for the R process to affect the process configuration -->
            </setting>
            <setting name="rserveInitScript" serializeAs="String">
                <value></value>  <!-- Set to i.e. library(TTR); library(pastecs); if you want SSEtoRserve to send initialization R scripts directly after a connection is created to Rserve -->
            </setting>
        </SSEtoRserve.Properties.Settings>
    </applicationSettings>
</configuration>